@using System.IO
@model IEnumerable<GCR.Web.Models.HomePagePhotoViewModel>
@{
    Layout = null;
 }
<div style="position:relative; overflow:hidden;	margin-bottom:20px;">
    <ul id="mycarousel" class="jcarousel-skin-homepage">
        @foreach (var item in Model)
        {   <li>         
                <img src="@Url.Content(item.PhotoPath)" alt="@Path.GetFileNameWithoutExtension(item.PhotoPath)" />  
            </li>
        }              
    </ul>
    <div class="left-shade"></div>
    <div class="right-shade"></div>
    <div class="top-shadow"></div>
    <div class="bottom-shadow"></div>
</div>
