@model IEnumerable<GCR.Web.Models.HomePagePhotoViewModel>

@{
    ViewBag.Title = "Home Page Photo Admin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Home Page Photo Admin</h2>

<p>
    <button onclick="window.GCR.ImageUpload.showImageDialog()" >Select New Photo</button>&nbsp;&nbsp;
    <button id="saveOrder">Save Order</button>
</p>
<ul id="HomepagePhotoContainer" class="control">
@foreach (var item in Model) {
    Html.RenderPartial("_PhotoPartial", item);
}
</ul>

<div class="image-uploader hide">
    <iframe src="@Url.Content(ViewBag.UploadPath)" width="830px" height="540px" scrolling="no"></iframe>
</div>
@section Scripts {
    <script type="text/javascript">
        var _createActionUrl = "@Url.Action("Create")";
        var _saveActionUrl = "@Url.Action("SaveOrder")";
    </script>
   @Scripts.Render("~/Script/app/homePagePhoto")
}
