@{
    ViewBag.Title = "Home Page";
}

@section home {
 @{
        Html.RenderAction("HomePage", "HomePagePhoto");
 }
}
<div class="four row">
    <div class="wrapper eight border">
        <div class="six columns offset-by-one alpha">
            <h2>Recent News</h2>
            @{
                Html.RenderAction("Recent", "News");
            }
        </div>
        <div class="fourteen columns offset-by-two omega">
            <div class="two row">
                <div class="fourteen columns alpha omega">
                    <h2>Our History</h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nulla Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nulla Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nullaquia conse quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia conse quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro.</p>
                </div>
            </div>
            <div class="two row">
                <div class="wrapper seven border">
                    <div class="six columns alpha">
                        <h2>Next Game</h2>
                        <p>
                            Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nulla Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nulla Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nulla.
                        </p>
                    </div>
                    <div class="six columns offset-by-two omega">
                        <h2>Member Spotlight</h2>
                        <p>
                            Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nulla Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nulla Nam elit magna hendrerit sit amet
                        tincidunt ac viverra sed nulla.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
   <script type="text/javascript">
       function mycarousel_initCallback(carousel) {

           var reveal_next = $('<div class="jcarousel-reveal next"></div>').append(
               $('<div></div>').bind('click', function () {
                   carousel.next();
                   return false;
               }));

           var reveal_prev = $('<div class="jcarousel-reveal prev"></div>').append(
                $('<div></div>').bind('click', function () {
                    carousel.prev();
                    return false;
                }));

           carousel.container.append(reveal_next);
           carousel.container.append(reveal_prev);
       };
       $(function () {
           $('#mycarousel').jcarousel({
                wrap: 'circular',
                auto: 8,
                buttonNextHTML: null,
                buttonPrevHTML: null,
                initCallback: mycarousel_initCallback,
                easing: 'easeOutSine',
                scroll: 1
    });
});
</script>
}