@model IEnumerable<GCR.Web.Models.MemberViewModel>

@{
    ViewBag.Title = "Team Members";
}
<h2 class="offset-by-one">Our Team</h2>
<div class="three row">
    <div class="twelve border">
        @foreach (var item in Model)
        {
            <div class="ten columns offset-by-one trailing-by-one team-pic">

                <img src="@Url.Content(item.PhotoForDisplay)" alt="@item.FullName" class="photo" />

                <h3>@item.FullName</h3>

                <p>@item.Bio</p>

            </div>
        }
    </div>
</div>


