<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <connectionStrings>
     <add name="DB" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=oxford\sql2012;initial catalog=GCR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 </connectionStrings>
</configuration>