<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DB" connectionString="data source=QCIAPP3\SQL2012;initial catalog=WebpageTest;integrated security=True;MultipleActiveResultSets=True;App=CodeFirstGenerator" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>